/**
* This is the main entry point for all site-wide styles
* Webpack is setting the default location (i.e. where foundation is getting imported from)
* to the foundation-sites/scss directory in node_modules.
*/
/**
* Settings is where a lot of default stylings provided by Foundation are
* We can edit defaults in there directly. Or we can choose to manage these separately
* in separate components for example
*/
@import '/settings';
@import 'foundation';
@include foundation-everything;

$kinectsit-palette: (
  text-color: #F5F5F5,
  dark-text-color: #212121,
  primary: #607D8B,
  secondary: #BF360C,
  secondary-highlight: #F4511E,
  success: #4DB6AC,
  success-dark: #009688,
  warning: #FF9800,
  alert: #FF9800,
  white: #F5F5F5,
  light-grey: #F5F5F5,
);

#app {
  padding-top:65px;
  min-height:650px;
  background-color: map-get($kinectsit-palette, light-grey);
  
  @include breakpoint(medium) {
    // All CSS in here goes inside the media query
    min-height: 750px;
  }
  &.blur-bg{
    background: url('https://www.kinects.it/assets/images/videoframeblur.png') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  &.home{
    background: url('../videos/videoframe.png') no-repeat center center fixed;
  }
}

.app-container {
  .page {
    padding-bottom: 30px;
    // background-image: url('../videos/videoframe.png');

  }
}

/* Absolute Center Spinner */
.loading {
  position: fixed;
  z-index: 999;
  overflow: show;
  margin: auto;
  top: 40%;
  left: 50%;
  margin-top: -70px; /* Half the height */
  margin-left: -70px;
}

/* Transparent Overlay */
.loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
}

/********* HomePage *********/
.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.fullscreen-bg__video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    -webkit-transform: translate(-50%, -50%);
       -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
}

@media (max-width: 767px) {
    .fullscreen-bg {
        background: url('/assets/videos/videoframe.png') center center / cover no-repeat;
    }

    .fullscreen-bg__video {
        display: none;
    }
}

.home-container {
  .card {
    margin-top: 20%;
    text-align: center;
    padding-bottom: 0px;
    padding: .5em 2em 1.5em;
    padding-top: .5em;
    position: relative;
    bottom: 10%;
    text-shadow: 1px 1px 2px black;
    font-family: $body-font-family!important;
    @include breakpoint(large up) {
        // All CSS in here goes inside the media query
        position: absolute;
        bottom: 10%;
        right: 10%;
        width: 45%;
      }
    a{
      :hover{
        border: 0px!important;
      }
    }
  }
}

/************** Default Element Stylings *********/
.card {
  margin: 25px 0px;
  box-shadow: rgba(0, 0, 0, 0.247059) 0px 14px 45px, rgba(0, 0, 0, 0.219608) 0px 10px 18px!important;
}

.card.header-card {
  .card-header {
    // background-color: map-get($kinectsit-palette, primary);
    // border-top: 3px solid map-get($kinectsit-palette, secondary-highlight);
    font-size: 1.2em;
    font-weight: bold!important;
    background-color: map-get($kinectsit-palette, secondary);
    border-top: 3px solid map-get($kinectsit-palette, secondary-highlight);
  }
  .card-title {
    padding-bottom: 0px!important;
  }
  .card-text {
    padding-top: 0px!important;
  }
}

/*************** Inner Pages ************/
/******* Dashboards ******/
.dashboard-container .dashboard{
  padding-top:15px;
}

.dashboard h1{
  text-align: center;
}

.dashboard-title {
  text-align: center;
  position: relative;
  text-align: center;
  border-radius: 3px;
  .material-icons {
    font-size: 100%;
    vertical-align: top;
    padding-top: 2%;
    margin-left: 10px;
    position: absolute!important;
    left:0;
  }
} 

.device-list-container {
  h3 {
    text-align: center;
  }
  .device-list {
    margin-top:10px;
    .device-card{
      margin: 40px 0px;
      padding: 10px;
      position: relative;
      border-top: 3px solid map-get($kinectsit-palette, secondary);
      &.active{
        .device-button button {
          background-color: map-get($kinectsit-palette, success)!important;
        }
      }
      &.inactive{
        .device-button button {
          background-color: map-get($kinectsit-palette, secondary)!important;
        }
      }
      .device-header{
        padding-left: 35px!important;
        padding-top: 5px !important;
        span{
          font-size: 1.2em;
        }
      }
      .device-description {
        background-color: map-get($kinectsit-palette, white)!important;
        -moz-box-shadow:    inset 0 0 10px #000000;
           -webkit-box-shadow: inset 0 0 10px #000000;
           box-shadow:         inset 0 0 10px #000000;
           .description-list span {
              color: map-get($kinectsit-palette, dark-text-color)!important;
           }
      }
      .material-icons {
        position: absolute!important;
        top:13px;
      }
    }
  }
}

/*********** Device Page *****/
.transaction-form {
  margin: 45px 0px!important;
}

.device-header.card {
  .list-item:hover{
    cursor: default!important;
  }
  .material-icons{
    font-size:2em!important;
    top: 12px!important;
  }
}

/***** Device Profile ***/
.chart-container {
  text-align: center;
  margin-top:30px;
}
