/**
* This is the main entry point for all site-wide styles
* Webpack is setting the default location (i.e. where foundation is getting imported from)
* to the foundation-sites/scss directory in node_modules.
*/
/**
* Settings is where a lot of default stylings provided by Foundation are
* We can edit defaults in there directly. Or we can choose to manage these separately
* in separate components for example
*/
// @import '/settings';
@import 'foundation';
@include foundation-everything;

.app-container {
  .page {
    margin-top: 60px;
  }
}

/* Absolute Center Spinner */
.loading {
  position: fixed;
  z-index: 999;
  overflow: show;
  margin: auto;
  top: 40%;
  left: 50%;
  margin-top: -70px; /* Half the height */
  margin-left: -70px;
}

/* Transparent Overlay */
.loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
}

